/*
* {
	margin: 0;
	padding: 0;
}*/

html {
	height: 100%;
}

body {
	width: 1024px;
	margin: auto;
	height: 100%;
}

#nav {
	width: 100%;
	background: #001344;
	font-size: 1.5em; 
	line-height: 1.5; 
	float: left;
	font-family: Verdana;
}

#nav ul {
	float: left;
	list-style-type: none;
	padding: 8px;
	margin: 0;
}

#nav li {
	position: relative;
}

#nav ul ul {
	position: absolute;
	z-index: 2;
	display: none;
}

#nav ul li:hover ul {
	display: block;
}

#nav a {
	text-decoration: none;
	text-align: center;
	padding: 5px;
}

#nav a.nav_cat {
	font-size: 1em;
	color: white;
}

#nav a.nav_cat:hover {
	color: #001344;
	background: white;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#nav a.nav_sub {
	display: block; 
	color: white; 
	background: #001344; 
	border: 2px solid #001344;
}

#nav a.nav_sub:hover {
	color: #001344; 
	background: white;
	border: 2px solid #001344;
}

#content {
	clear: both;
	min-height: 500px;
	padding: 10px;
}

#footer {
	clear: both;
	background: #001344;
	text-align: center;
	color: white;
	padding: 20px;
}

#footer  a {
	text-decoration: none;
	color: white;
}

#footer a:hover {
	text-decoration: underline;
}

#footer th {
	width: 150px;
}

#tabs {
	font-size: 12pt;
}

#pagination a:hover {
	background: #001344;
	color: white;
}

.pagination .current_page a {
	background: #001344;
	color: white;
}

#orders {
	width: 100%;
	border-spacing: 0;
	font-family: Arial;
}

#orders td, #orders th {
	border-color: black;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-top-width: 1px;
	text-align: left;
	white-space: nowrap;
	background: #cccccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
	height: 30px;
	padding: 5px;
}

#orders td div {
	text-align: left;
}

#orders .spacing td {
	border: 0 !important;
	background: none !important;
	height: 5px;
	padding: 0 !important;
}

.position-table td, .position-table th {
	height: auto !important;
	font-size: 10pt !important;
	text-align: center !important;
	border: 0 !important;
	background: none !important;
	padding: 0 !important;
}

#additional {
	display: none;
}
