table {
	border-collapse: collapse;
	font-family: Arial;
}
			
tr.colored {
	background: grey;
}
			
td, th {
	border: 1px solid black;
	text-align: center;
	white-space: nowrap;
	padding: 0px 10px 0px 10px;
}